[user]
	name = Anton Zimin
	email = zimkaa87@gmail.com
[core]
	excludesfile = /Users/antonzimin/.gitignore_global
	editor = vim
[commit]
	template = /Users/antonzimin/.stCommitMsg
[alias]
	pr = pull --rebase
